<ion-content padding id="page9">
  <h3 id="hola-heading6" style="color:#000000;text-align:center;">
     ¡Hola de nuevo! 
  </h3>

  <ion-list>

    <ion-item *ngFor="let item of usuariosreference$ | async ">
  
     
      
      <ion-avatar>
        <img style="width: 100px; height: 100px;" src= {{item.Foto}}>
      </ion-avatar>
       <h1>{{item.Nombre}}</h1>  
      </ion-item>
      
    
  </ion-list>
  <div id="hola-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
    <h5 style="color:#000000;">
      Aquí hay alguna información de tu intéres
    </h5>
  </div>
  <ion-list id="hola-list4">
    <ion-item color="none" id="hola-list-item3" style="text-align:center;">
      No tienes ningún pedido en curso <img  src="assets/Apple/40/1f62d.png">
    </ion-item>
  </ion-list>
  <div id="hola-markdown6" style="text-align:center;"  class="show-list-numbers-and-dots">
    <h5 style="color:#000000;">
      Promociones
    </h5>
  </div>
  <ion-list>

    <ion-item *ngFor="let items of noticiasreference$ | async ">
  
     
      
      
        <img  src= {{items.Imagen}}>
        <h5 style="color:#000000;text-align:center;">{{items.Titulo}}</h5>  
        <p style="color:#000000;text-align:center;">{{items.Contexto}}</p> 
        <p style="color:#201e1e;text-align:center;">Ver más</p> 
       
  
      </ion-item>
    
  </ion-list>
  <p>Esta sección de aquí para bajo es meramente para facilitar las pruebas de la implementación de los modulos, cuando se termine
    las pruebas los dos botones de abajo se quitaran
  </p>
  <button id="hola-button8" ion-button color="positive" block on-click=" gotoVistaCliente()">
    Ir a Vista del Cliente

  </button>
  <button id="hola-button9" ion-button color="positive" block on-click=" gotoVistaAdmin()">
    ir a Vista del Admin
  </button>
</ion-content>