page-configuraci-nadmin {
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3mm;
        
    }
    h1 {
        color: rgb(0, 0, 0);
        text-align: center;
       }
    
    p{
        color: rgb(0, 0, 0);
        text-align: center;
    }
    .list {
        margin-top:0%;
        margin-left: 0%;
        margin-right: 0%;
      }
    .list .item {
        background-color: rgb(255, 255, 255);
        border-width: 1px;
        border-style: ridge;
        
      }
      img {
       
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0mm;
        max-width: auto ;
        max-height: auto;
        
    }
}
