page-hacerpedido {
    h2 {
        color: rgb(24, 24, 20);
        text-align: center;
       }
       h1 {
        color: rgb(24, 24, 20);
        text-align: center;
       }
       h5 {
        color: rgb(24, 24, 20);
        text-align: center;
       }

       #Hacerpedido {
        background: -webkit-linear-gradient(#ffffff, #edeff1,#e0e3e7);
        }
}
