page-a-adir-aseguradora {
   
    h3 {
          
          width: 100%;
          }

       .list {
        margin-top:2%;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 2%;
      }
    .list .item {
        background-color: rgba(255, 255, 255, 0.582);
        border-width: 0.5px;
        border-style: ridge;
        border-radius: 7px;
        margin-top:2%;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 2%;
      }
    
        img {
          border-radius: 20px;
          width: 50px; height: 50px;
      }
}

